asyncpg
aiosqlite
fastapi
uvicorn
sqlalchemy
greenlet
suncalc
requests
stripe>=15.5.0,<16
jinja2
psycopg2-binary
python-multipart
cloud-sql-python-connector[pg8000]
google-cloud-bigquery
google-cloud-secret-manager
httpx
pg8000
qrcode
websockets
timezonefinder
itsdangerous
